.scroll-hide {
  overflow: auto;          /* or scroll */
  scrollbar-width: none;   /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-hide::-webkit-scrollbar {
  display: none;           /* Chrome, Safari, Opera */
}
