.scroll-hide {
  overflow: auto;         
  scrollbar-width: none;  
  -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;          
}

html {
  scroll-behavior: smooth;

}
